version: '3.8'

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file: .env
    restart: unless-stopped

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    env_file: .env
    restart: unless-stopped

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - "443:443"
    env_file: .env
    restart: unless-stopped

networks:
    inception:
      driver: bridge

volumes:
    mariadb_data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${DATA_PATH}/mariadb
    wordpress_data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${DATA_PATH}/wordpress
